.header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  font-size: 10px;
  top: 0;
  background-color: var(--col-header-bg);
  border-bottom: var(--elements-outline-border);
  color: white;
}
