.header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  font-size: 10px;
  top: 0;
  background-color: #161a1f;
  border-bottom: 1px solid #212121;
  color: white;
}
